.App {
  text-align: center;
  font-family: "Pacifico", cursive;
  margin-top: 20px;
  margin-bottom: 40px;
}

.App h1 {
  font-size: 45px;
  color: rgb(240, 220, 228);
  text-shadow: 5px 0 rgb(191, 1, 115), 0 5px rgb(191, 1, 115),
    8px 0 rgb(191, 1, 115), 0 8px rgb(191, 1, 115);
}
@media (max-width: 402px) {
  .App h1 {
    font-size: 35px;
    text-shadow: 5px 0 rgb(191, 1, 115), 0 6px rgb(191, 1, 115),
      2px 0 rgb(191, 1, 115), 0 4px rgb(191, 1, 115);
  }
}

@media (max-width: 420px) {
  .container footer {
    font-size: 11px;
  }
}
