.WeatherForcast {
  border: 1px solid whitesmoke;
  border-radius: 6px;
  padding: 15px 25px;
  margin: 10px;
  background: rgb(255, 255, 255, 0.5);
  text-align: center;
}

.WeatherForcast .forcast-temp-min {
  opacity: 0.6;
  margin-left: 3px;
}
@media (max-width: 471px) {
  .WeatherForcast {
    font-size: 15px;
    padding: 7px;
  }
}
@media (max-width: 413px) {
  .WeatherForcast {
    font-size: 12px;
    padding: 3px;
  }
  .Weather .forecast-day {
    padding: 0;
  }
}
